@model CampusNabber.Models.PostXFlagViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/PostFlagDetailPage.css")" rel="stylesheet" type="text/css" />
<h2>Post Details</h2>


<div class="container">

    <div class="row" style="height:4em;line-height:4em;">
        <div class="col-sm-6"><h3>@Model.Title</h3></div>
        <div class="col-md-2 text-center">
            <a class="btn btn-default" href="@Url.Action("Details", "PostItems", new { id = Model.PostId})" style="width:160px;">
                View Post
            </a>
        </div>
        <div class="col-md-2 text-center">
            <a class="btn btn-primary" href="@Url.Action("RemoveFlags", "Flag", Model)" style="width:160px;">
                Remove Flags
            </a>
        </div>
        <div class="col-md-2 text-center">

            <a class="btn btn-danger" href="@Url.Action("Delete", "PostItems", new {id = Model.PostId})" style="width:160px;">
                Take Down Post
            </a>
        </div>
    </div>
    <div class="row" style="height:5px"></div>
    <div class="row">
        <table class="table table-bordered">
            <tr>
                <th>
                    Flag Reason
                </th>
                <th>
                    Date Flagged
                </th>
            </tr>
            @foreach (var item in Model.Flags)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.flag_reason)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.flag_date)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
@if(Model.Flags.Count() == 0)
{
    <p>No flags were found associated with this post.</p>
}

