@model CampusNabber.Models.FlagPost
@{
    ViewBag.Title = "Create";
}

<h2>Create Flag</h2>

@using (Html.BeginForm("Create", "Flag", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal container">
        @Html.HiddenFor(model => Model.flagged_postitem_id)
        @Html.HiddenFor(model => Model.username_of_post)
        @Html.HiddenFor(model => Model.username_of_flagger)
        @Html.HiddenFor(model => Model.flag_date)
        <div class="form-group">
            <div class="col-md-12">
                <h3>Why are you flagging this post?</h3>
                @Html.TextAreaFor(model => model.flag_reason, new { @rows="5", @class="form-control" })
                @Html.ValidationMessageFor(model => model.flag_reason, "", new {@class="text-danger"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Report" class="btn btn-danger" />
            </div>
        </div>
    </div>
}
