@model CampusNabber.Models.MarketPlace


@{
    ViewBag.Title = "CategoryView";
}
@*
        @section Scripts {
            <script type="text/javascript">
              var mainColor = '@Model.mainSchoolColor';
            </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/SchoolColor.js")"></script>
    }
*@

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="~/Content/CategorySheet.css">
<script type="text/javascript" src="~/Scripts/MarketView.js"></script>


@*<div class="navbar navbar-fixed-bottom">*@
<body>

    @Html.EditorForModel(Model)
    
        <div class="container" id="customContainer">
            <div class="col-md-10">
                <div class="panel-group" id="pageWindow">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h2>@Model.chosenCategory</h2>
                                </div>
                                <div class="col-sm-4">
                                    <form class="block form">
                                        <div class="input-group">
                                            <input type="text" id="searchInput" name="searchInput" value="@Model.searchString" class="form-control text-box customInput " placeholder="Search @Model.chosenCategory" />
                                            <a id="searchButton" class="btn btn-primary" onclick="SearchPostItems();" href="#">Search</a>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-2">

                                </div>

                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-2">
                                <fieldset id="searchField" class="myfields">
                                    <form class="form">
                                        <div class="input-group">
                                            <label style="margin-right:2px;" for="fromPrice">From Price:</label>
                                            <input type="text" class="form-control text-box customInput" id="fromPriceInput" name="fromPriceInput" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                                        </div>
                                    </form>

                                    <form class="form">
                                        <div class="input-group">
                                            <label style="margin-right:19px;" for="toPrice">To Price:</label>
                                            <input type="text" class="form-control text-box customInput" id="toPriceInput" name="toPriceInput" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                                        </div>
                                    </form>
                                </fieldset>
                            </div>
                            <div class="col-sm-10">

                                <div class="box">
                                    <div class="box-content padded">

                                        <form method="Post" id="Detail1Validate">
                                            <div id="dataTables">
                                                <table id="PostItemTable" align="right" cellpadding="0" cellspacing="20px" border="0" style="font-size: 18px; width:auto; border: 0px solid #d9d9d9">
                                                    <thead>
                                                        <tr>
                                                            <th style="font-weight: bold;">Photo</th>
                                                            <th style="font-weight: bold; text-align:center">Title</th>
                                                            <th style="font-weight: bold; text-align:center">Price</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                            <br />
                                            <br />
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 red addSpace">
               
            </div>
    </div>
   
</body>
    @*</div>
    *@

        @*
            <div class="modal-footer">
                <button class="btn btn-gray" data-dismiss="modal">Cancel</button>
                <a id="modal-form-search" class="btn btn-primary" onclick="SearchPostItems();" href="#">Search</a>
            </div>
        *@



        <script>
            function SearchPostItems() {
                oTable.fnReloadAjax();
            }


            var oTable;
            $(function () {
                oTable = $('#PostItemTable').dataTable({
                    "sPaginationType": "full_numbers",
                    "bScrollCollapse": true,
                    "bPaginate": true,
                    "bServerSide": true,
                    "iDisplayLength": 10,
                    "scrollCallapse": true,
                    "scrollY": '50vh',
                    "bFilter": false, //These next two handle search condition
                    "bInfo": false,
                    "sAjaxSource": "@Url.Action("GetPostItemData", "MarketPlace")",
                    "fnServerParams": function (aoData) {
                        aoData.push({ name: "Category", value: '@Model.chosenCategory' },
                            { name: "Search", value: $('#searchInput').val() },
                            { name: "FromPrice", value: $('#fromPriceInput').val() },
                            { name: "ToPrice", value: $('#toPriceInput').val() }
                            );
                    },
                    "bProcessing": true,
                    "aoColumns": [
                        {
                            "mDataProp": "PhotoPath", "sWidth": "10px",
                            "render": function (mDataProp, type, row) {
                                return '<img src="' + mDataProp + '" style="width=10px;height=10px;" />';
                            }
                        },
                        { "mDataProp": "Title", "sWidth": "100px", "sClass": "alignCenter" },
                        { "mDataProp": "Price", "sWidth": "120px", "sClass": "alignCenter" }
                    ]
                });
            });

        </script>
