@model CampusNabber.Models.MarketPlace


@{
    ViewBag.Title = "Campus Nabber";
}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="~/Content/CategorySheet.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">


<script type="text/javascript" src="~/Scripts/MarketView.js"></script>

@{
    var schoolnames = "";
    for (int i = 0; i < Model.school_names.Count; i++)
    {
        schoolnames += Model.school_names[i];
        if (i + 1 != Model.school_names.Count)
        { schoolnames += ","; }
        Model.schools = schoolnames;
    }
}



    @Html.EditorForModel(Model)
    
        <div class="container" id="customContainer">
            <div class="row col-md-10" >
                <div class="panel-group" id="pageWindow">
                    <div class="panel panel-default">
                        @*
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-2">
                                    <h2>@Model.chosenCategory</h2>
                                    @if(Model.chosenSubCategory != null)
                                    {
                                        <br />
                                        <h2>@Model.chosenSubCategory</h2>
                                    }
                                </div>
                                
                                <div class="col-sm-4">
                                    
                                </div>
                                <div class="col-sm-6">
                                    
                                </div>
                                   

                            </div>
                        </div>
                            *@
                        <div class="panel-body">
                            <div class="col-sm-2">
                                <h2>@Model.chosenCategory</h2>
                                @if (Model.chosenSubCategory != null)
                                {
                                    <br />
                                        <h2>@Model.chosenSubCategory</h2>
                                }

                                <fieldset id="searchField" class="myfields">
                                    <form class="form myForm">
                                        <div class="input-group">
                                            <label style="margin-right:2px;" for="fromPrice">From Price:</label>
                                            <input type="text" class="form-control text-box customInput" id="fromPriceInput" name="fromPriceInput" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                                        </div>
                                    </form>

                                    <form class="form myForm">
                                        <div class="input-group">
                                            <label style="margin-right:19px;" for="toPrice">To Price:</label>
                                            <input type="text" class="form-control text-box customInput" id="toPriceInput" name="toPriceInput" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                                        </div>
                                    </form>

                                    <form class="form myForm">
                                        <div class="input-group">
                                            <label style="margin-right:19px;" for="hasImage">Has Image:</label>
                                            <input type="checkbox" id="hasImageInput" name="hasImageInput"/>
                                        </div>
                                    </form>
                                </fieldset>
                                <form class="block form myForm">
                                    <div class="input-group">
                                        <input type="text" id="searchInput" name="searchInput" value="@Model.searchString" class="form-control text-box customInput " placeholder="Search @Model.chosenCategory" />
                                        <a id="searchButton" class="btn btn-primary" onclick="SearchPostItems();" href="#">Search</a>
                                    </div>
                                </form>

                                @using (Html.BeginForm("AddAdditionalSchools", "MarketPlace", FormMethod.Post, new { @id = "nonHover" }))
                                {
                                    <div id="addAdditionalSchools">
                                        <h4>Add Schools</h4>
                                        <table class="table table-borderless" id="displayTable">
                                            <tbody>

                                                @for (int i = 0; i < Model.selectSchool.Count(); i++)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.CheckBoxFor(model => model.selectSchool[i])
                                                            @Html.DisplayFor(model => model.otherSchools[i])
                                                            @Html.HiddenFor(model => model.categoryToDisplay)
                                                            @Html.HiddenFor(model => model.subCategoryToDisplay)
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        
                                        
                                    </div>
                                    <input type="submit" value="Submit" />
                                }

                            </div>
                            <div class="col-sm-10">

                                <div class="box">
                                    <div class="box-content padded">

                                        <form method="Post" id="Detail1Validate">
                                            <div id="dataTables">
                                                <table id="PostItemTable" align="right" cellpadding="0" cellspacing="20px" border="0" style="font-size: 18px; width:auto; border: 0px solid #d9d9d9">
                                                    <thead>
                                                        <tr>
                                                            <th style="font-weight: bold;">PostItemID</th>
                                                            <th style="font-weight: bold;">Photo</th>
                                                            <th style="font-weight: bold; text-align:center">Title</th>
                                                            <th style="font-weight: bold; text-align:center">Price</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                            <br />
                                            <br />
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
    </div>

 


        <script>

           // alert(schoolnames);
            function SearchPostItems() {
               // debugger;
                oTable.fnReloadAjax();
            }
          


            var oTable;
            $(function () {
               // debugger;
                oTable = $('#PostItemTable').dataTable({
                    "sPaginationType": "full_numbers",
                    "bInfo": true,
                    "bScrollCollapse": true,
                    "bPaginate": true,
                    "bServerSide": true,
                    "iDisplayLength": 10,
                    "scrollCallapse": true,
                    "oLanguage": {    "sLengthMenu": "_MENU_ records per page",
                        "oPaginate": {
                            "sPrevious": "Prev",
                            "sNext": "Next"
                        }
                    },
                    "scrollY": '50vh',
                    "aoColumnDefs": [
                            { 'bSortable': false, 'aTargets': [ 1, 2 ] }
                    ],
                    "bFilter": false,
                    "sAjaxSource": "@Url.Action("GetPostItemData", "MarketPlace")",
                    "fnServerParams": function (aoData) {
                        aoData.push(
                            { name: "school_names", value: '@Model.schools' },
                            { name: "user_name", value: '@Model.user_name' },
                            { name: "Category", value: '@Model.chosenCategory' },
                            { name: "SubCategory", value:'@Model.chosenSubCategory' },
                            { name: "Search", value: $('#searchInput').val() },
                            { name: "FromPrice", value: $('#fromPriceInput').val() },
                            { name: "ToPrice", value: $('#toPriceInput').val() },
                            { name: "HasImage", value: $('#hasImageInput').is(':checked') }
                            );
                    },
                    "bProcessing": true,
                    "aoColumns": [
                        {
                            "mDataProp": "PostItemID",
                            "sWidth": "10px",
                            "bSortable": false,
                            "visible": false
                        },
                        {
                            "mDataProp": "PhotoPath", "sWidth": "10px",
                            "render": function (mDataProp, type, row) {
                                return '<img src="' + mDataProp + '"style="width=10px;height=10px;" />';
                        }
                        },
                        { "mDataProp": "Title", "sWidth": "100px", "sClass": "alignCenter" },
                        { "mDataProp": "Price", "sWidth": "120px", "sClass": "alignCenter" }
                    ],
                    "fnDrawCallback": function (oSettings) {
                        $('#PostItemTable tbody tr').click(function () {
                            var postItemID = $(this).attr('id');
                            postItemSelected(postItemID);
                        }).css('cursor', 'pointer');
                    },
                    "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        $(nRow).attr('id', aData.PostItemID);
                    }
                });
            });

            function postItemSelected(id) {
              //  debugger;
               var link = '@Url.Action("Details", "PostItems", new { id = "-1" })';
                link = link.replace("-1", id);
                window.location.href = link;
            }

            function keypressHandler(e) {
               // alert(e.which);
                if (e.which == 13) {
                    e.preventDefault(); //stops default action: submitting form
                    $(this).blur();
                    $('#searchButton').focus().click();//give your submit an ID
                }
            }

            $('.myForm').keypress(keypressHandler);

        </script>
