@model CampusNabber.Models.MarketPlace
<script src="~/Scripts/angular.min.js" type="text/javascript"></script>
@{
    ViewBag.Title = "MainMarketView";
}
<h2>MainMarketView</h2>


  
@Html.EditorForModel()
<!-- SEARCH FUNCTION
<form method="get" action="@Url.Action("Index", "MarketPlaceController")">
    <input type="text" name="search" id="search" />
    <button type="submit">Search</button>
</form>
-->



<div class="row">

    <div class="col-md-3">

        <a href="@Url.Action("CategoryView", "MarketPlace", new
                    {
                        Categories = Model.Categories,
                        Posts = Model.Posts,
                        CategoryNames = Model.CategoryNames,
                        numPosts = Model.numPosts,
                        displayRange = Model.displayRange,
                        rangeFrom = Model.rangeFrom,
                        rangeTo = Model.rangeTo,
                        school_name = Model.school_name,
                        user_name = Model.user_name,
                        categoryToDisplay = 0
                })">
                @Model.CategoryNames[0] 
        </a>

    </div>


            <div class="col-md-3">
                <a href="@Url.Action("CategoryView", "MarketPlace", new
                    {
                        Categories = Model.Categories,
                        Posts = Model.Posts,
                        CategoryNames = Model.CategoryNames,
                        numPosts = Model.numPosts,
                        displayRange = Model.displayRange,
                        rangeFrom = Model.rangeFrom,
                        rangeTo = Model.rangeTo,
                        school_name = Model.school_name,
                        user_name = Model.user_name,
                        categoryToDisplay = 1
                })">
                    @Model.CategoryNames[1]
                </a>

            </div>
    <div class="col-md-3">
        <a href="@Url.Action("CategoryView", "MarketPlace", new
                    {
                        Categories = Model.Categories,
                        Posts = Model.Posts,
                        CategoryNames = Model.CategoryNames,
                        numPosts = Model.numPosts,
                        displayRange = Model.displayRange,
                        rangeFrom = Model.rangeFrom,
                        rangeTo = Model.rangeTo,
                        school_name = Model.school_name,
                        user_name = Model.user_name,
                        categoryToDisplay = 2
                })">
            @Model.CategoryNames[2]
        </a>

    </div>

            <div class="col-md-3">
                <a href="@Url.Action("CategoryView", "MarketPlace", new
                    {
                        Categories = Model.Categories,
                        Posts = Model.Posts,
                        CategoryNames = Model.CategoryNames,
                        numPosts = Model.numPosts,
                        displayRange = Model.displayRange,
                        rangeFrom = Model.rangeFrom,
                        rangeTo = Model.rangeTo,
                        school_name = Model.school_name,
                        user_name = Model.user_name,
                        categoryToDisplay = 3
                })">
                    @Model.CategoryNames[3]
                </a>

            </div>



</div>
<!--
<script>
    //the angular approach
    var data = function () { return @Html.Raw(Json.Encode(Model)); }();
    var myApp = angular.module('myApp', []);
    myApp.controller('categoryController', ['$scope', function ($scope) {
        $scope.market = data;
       // $scope.categories = data.CategoryNames;
       
    }]);
   
</script>
<body ng-app="myApp">
    <div ng-controller="categoryController">
        <div ng-repeat="category in market.CategoryNames" class="col-md-3">
            <p>{{category}}</p>
        </div>
    </div>
</body>

    -->