@model CampusNabber.Models.MarketPlace
@{
    ViewBag.Title = "MainMarketView";
}


    <div class="row">
        <div class="col-md-9">

            <h2>Start Nabbin'      [@Model.SchoolToken]</h2>
        </div>
        <div class="col-md-3">
            <h2><a href="@Url.Action("Create", "PostItems", new { userId = Model.user_name})" />Create Post</h2>
        </div>
    </div>


@Html.EditorForModel()
    @section Scripts {
    <script type="text/javascript">
       // var mainColor = '@Model.mainSchoolColor';




    </script>
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/SchoolColor.js")"></script>*@
}


<div class="row">

    <div class="col-md-2 red">

    </div>
    <div class="col-md-2">

        <a class="sixteenPoint" href="@Url.Action("CategoryView", "MarketPlace", new
                    {
                        Categories = Model.Categories,
                        Posts = Model.Posts,
                        CategoryNames = Model.CategoryNames,
                        numPosts = Model.numPosts,
                        displayRange = Model.displayRange,
                        rangeFrom = Model.rangeFrom,
                        rangeTo = Model.rangeTo,
                        school_id = Model.school_id,
                        school_name = Model.school_name,
                        user_name = Model.user_name,
                        categoryToDisplay = 0
                })">
    @Model.CategoryNames[0]

</a>
        <table class="table table-borderless" id="displayTable">
            <tbody>
                @{
                    int j = 1;
                    for (int i = 0; i < Model.Categories[0].Count; i++)
                    {
                        var element = Model.Categories[0][i];
                        <tr>
                            <td>
                                <a class ="tenPoint" href="@Url.Action("Details", "PostItems", new { id = element.object_id })" id="@Model.CategoryNames[0]@j">

                                </a>
                            </td>
                        </tr>
                        j++;
                    }

                }
            </tbody>
        </table>

       

    </div>



            <div class="col-md-2">
                <a class="sixteenPoint" href="@Url.Action("CategoryView", "MarketPlace", new
                    {
                        Categories = Model.Categories,
                        Posts = Model.Posts,
                        CategoryNames = Model.CategoryNames,
                        numPosts = Model.numPosts,
                        displayRange = Model.displayRange,
                        rangeFrom = Model.rangeFrom,
                        rangeTo = Model.rangeTo,
                        school_id = Model.school_id,
                        school_name = Model.school_name,
                        user_name = Model.user_name,
                        categoryToDisplay = 1
                })">
                    @Model.CategoryNames[1]
                </a>
                <table class="table table-borderless" id="displayTable">
                    <tbody>
                        @{
                            j = 1;
                            for (int i = 0; i < Model.Categories[1].Count; i++)
                            {
                                var element = Model.Categories[1][i];
                                <tr>
                                    <td>
                                        <a class="tenPoint" href="@Url.Action("Details", "PostItems", new { id = element.object_id })" id="@Model.CategoryNames[1]@j">

                                        </a>
                                    </td>
                                </tr>
                                j++;
                            }

                        }
                    </tbody>
                </table>
               

            </div>
    <div class="col-md-2">
        <a class="sixteenPoint" href="@Url.Action("CategoryView", "MarketPlace", new
                    {
                        Categories = Model.Categories,
                        Posts = Model.Posts,
                        CategoryNames = Model.CategoryNames,
                        numPosts = Model.numPosts,
                        displayRange = Model.displayRange,
                        rangeFrom = Model.rangeFrom,
                        rangeTo = Model.rangeTo,
                        school_id = Model.school_id,
                        school_name = Model.school_name,
                        user_name = Model.user_name,
                        categoryToDisplay = 2
                })">
            @Model.CategoryNames[2]
        </a>

        <table class="table table-borderless" id="displayTable">
            <tbody>
                @{
                    j = 1;
                    for (int i = 0; i < Model.Categories[2].Count; i++)
                    {
                        var element = Model.Categories[2][i];
                        <tr>
                            <td>
                                <a class="tenPoint" href="@Url.Action("Details", "PostItems", new { id = element.object_id })" id="@Model.CategoryNames[2]@j">

                                </a>
                            </td>
                        </tr>
                        j++;
                    }

                }
            </tbody>
        </table>
      

    </div>


            <div class="col-md-2">
                <a class="sixteenPoint" href="@Url.Action("CategoryView", "MarketPlace", new
                    {
                        Categories = Model.Categories,
                        Posts = Model.Posts,
                        CategoryNames = Model.CategoryNames,
                        numPosts = Model.numPosts,
                        displayRange = Model.displayRange,
                        rangeFrom = Model.rangeFrom,
                        rangeTo = Model.rangeTo,
                        school_id = Model.school_id,
                        school_name = Model.school_name,
                        user_name = Model.user_name,
                        categoryToDisplay = 3
                })">
                    @Model.CategoryNames[3]
                </a>
                <table class="table table-borderless" id="displayTable">
                    <tbody>
                        @{
                            j = 1;
                            for (int i = 0; i < Model.Categories[3].Count; i++)
                            {
                                var element = Model.Categories[3][i];
                                <tr>
                                    <td>
                                        <a class="tenPoint" href="@Url.Action("Details", "PostItems", new { id = element.object_id })" id="@Model.CategoryNames[3]@j">

                                        </a>
                                    </td>
                                </tr>
                                j++;
                            }

                        }
                    </tbody>
                </table>

            </div>
    <div class="col-md-2 red addSpace">
        
    </div>


</div>


<script>
    var data = function () { return @Html.Raw(Json.Encode(Model)); }();
    for(var i = 0; i < 4; i ++)
    {
        for(var j = 0; j < data.Categories[i].length; j ++)
        {
            var element = data.CategoriesToDisplay[i][j];
            // alert(element.title + " " + element.price);

            var tar = $('#' + data.CategoryNames[i]+(j+1));
            var url = '@Url.Action("Details", "PostItems")?id=' + element.object_id;
            $(tar).attr("href", url);
            $(tar).text(setTag(element.school_name) + element.title + " $" + element.price);
            

        }


    }

    function setTag(schoolName)
    {
        var token = "";
        if (school_name.defaultValue === "Eastern Washington University")
            token += "[EWU]";
        else if (school_name.defaultValue === "Washington State University")
            token += "[WSU]";
        else if (school_name.defaultValue === "Gonzaga")
            token += "[GU]";
        else if (school_name.defaultValue === "Whitworth")
            token += "[WU]";
        return token;
    }





</script>
<!--
<script>
    //the angular approach
    var data = function () { return @Html.Raw(Json.Encode(Model)); }();
    var myApp = angular.module('myApp', []);
    myApp.controller('categoryController', ['$scope', function ($scope) {
        $scope.market = data;
       // $scope.categories = data.CategoryNames;
       
    }]);
   
</script>
<body ng-app="myApp">
    <div ng-controller="categoryController">
        <div ng-repeat="category in market.CategoryNames" class="col-md-3">
            <p>{{category}}</p>
        </div>
    </div>
</body>

    -->