@model CampusNabber.Models.MarketPlace


@{
    ViewBag.Title = "MainMarketView";
}

<h2>MainMarketView</h2>

@Html.ActionLink("Create", "Create" ,  "PostItems", new { userId =ViewBag.userName }, null)



@foreach (var element in Model.Posts)
{
    //changed this to annon inner class
    <a href="@Url.Action("Details", "PostItems", new {
            id = element.object_id
        })">
        <p>
            @Html.DisplayFor(m => element.title) @Html.DisplayFor(m => element.description) $@Html.DisplayFor(m => element.price)
        </p> 
    </a>
    //<p>@Html.DisplayFor(m => element.title)
    // @Html.DisplayFor(m => element.description)
    //$@Html.DisplayFor(m => element.price)</p>
    //<p>@Html.DisplayFor(m => element.title)</p>

}


        <!--<a href="@Url.Action("Create", "PostItemsController",  new { userId = ViewBag.userName})">Create</a>-->

