
@{
    ViewBag.Title = "Admin Tools";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Tools</h2>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2 text-center">
            <a class="btn btn-primary" href="@Url.Action("ViewFlaggedPosts","PostItems")" style="width:160px;margin:10px">View Flagged Posts</a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2 text-center">
            <a class="btn btn-primary" href="@Url.Action("BlockUser", "Admin")" style="width: 160px; margin: 10px">Block a User</a>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2 text-center">
            <a class="btn btn-primary" href="@Url.Action("Index", "Ad")" style="width: 160px; margin: 10px">Manage Site Ads</a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2 text-center">
            <a class="btn btn-primary" href="@Url.Action("UnblockUser", "Admin")" style="width: 160px; margin: 10px">Unblock a User</a>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2 text-center">
            <a class="btn btn-primary text-center" href="@Url.Action("ManageAdmins", "Admin")" style="width:160px;margin:10px;">Manage Admin Roles</a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2 text-center">
            <a class="btn btn-primary" href="@Url.Action("ManageSchools", "Admin")" style="width:160px;margin:10px;">Manage Schools</a> 
        </div> 
        <div class="col-md-3"></div>
    </div>
</div>

