<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="~/favicon.ico" />

    <script type="text/javascript" src="@Url.Content("/Scripts/jquery-2.2.1.min.js")"></script>
    @RenderSection("JavaScript", required: false)




</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" rel="home" href="/" title="">
                    <img id="navBarLogo" src="../../Content/images/Transparent_logo_grey_logo.png" onmouseover="this.src = '../../Content/images/Transparent_logo_white_logo.png'" onmouseout="this.src = '../../Content/images/Transparent_logo_grey_logo.png'" />
                </a>
                @Html.ActionLink("Campus Nabber", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @{
                        bool val1 = (System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated;
                        if (val1)
                        {

                            <li>@Html.ActionLink("Market", "MainMarketView", "MarketPlace")</li>
                            <li>

                                @using (Html.BeginForm("CategoryView", "MarketPlace", FormMethod.Post, new { @class = "navbar-form", @id = "searchForm" }))
                                {

                                    <div class="input-group" id="setWidth">
                                        @Html.TextBox("Search", null, new { @class = "form-control text-box searchBarCustomWidth", @placeholder = "Search The MarketPlace" })
                                        <span class="input-group-btn">
                                            <input class="btn btn-default" id="buttonText" type="submit" value="Search">
                                        </span>
                                    </div>

                                }
                            </li>

                        }
                    }



                </ul>
                @if (val1)
                {
                    <script type="text/javascript">
                        debugger;
                        var mainColor = '@(Session["Color"])';
                       @*if (mainColor.length > 0)
                        {
                            @Url.Content("~/Scripts/SchoolColor.js")"
                        }
                       *@
                    //alert(mainColor);
                    </script>
                    <script type="text/javascript" src="@Url.Content("~/Scripts/SchoolColor.js")"></script>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" id="customContainer">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Campus Nabber</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


