@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    <ul class="nav navbar-nav navbar-right">

        @if (User.IsInRole("Admin"))
        {
            <li>@Html.ActionLink("Admin Tools", "AdminTools", "Admin")</li>
        }
        <li>@Html.ActionLink("Profile", "ProfileView", "Profile", new { failedPost = "false" }, null)</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "formFix pull-right" }))

            {
                @Html.AntiForgeryToken()
                <a id="navFix" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>


            }
        </li>

    </ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
