@model CampusNabber.Models.AdModel
@{
    ViewBag.Title = "Ad Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ad Details</h2>
<hr/>
<div class="container">
    <div class="row">
        <h4>@Model.company_name</h4>
        <h4>@Model.photo_link</h4>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="@ViewBag.firstPhotoPath" />
        </div>
        <div class="col-md-4">
            <img src="@Model.photo_path_468x60" />
        </div>
        <div class="col-md-4">
            <img src="@Model.photo_path_728x90" />
        </div>
    </div>
</div>


<a class="btn btn-default" href="@Url.Action("AdminTools", "Admin")">Back to Admin Tools</a>

