@model CampusNabber.Models.ProfileModel


@{
    ViewBag.Title = "ProfileView";

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">

        var mainColor = '@(ViewBag.main_color)';
        var secondaryColor = '@(ViewBag.secondary_color)';
        var failed = '@TempData["FailedPost"]';
        if (failed == "true")
        {
            $(document).ready(function () {
                    $("#accountExists").modal();
            });
        }
         </script>
<link rel="stylesheet" href="~/Content/PostItem.css" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/ProfileView.js")"></script>
@*<script type="text/javascript" src="@Url.Content("~/Scripts/SchoolColor.js")"></script>*@
}



<h2>Profile View</h2>
<br />
<br />


@*Making sure all the values don't return as null*@
@Html.HiddenFor(model => model.user.UserName)
@Html.HiddenFor(model => model.user.Email)
@Html.HiddenFor(model => model.school_name)
@Html.HiddenFor(model => model.Posts)






    <div class="row">
    <div class="col-md-2">
        <div class="container">
            <div class="btn-group-vertical">
                <button type="button" id="Posts" onclick="posts()" class="btn btn-primary btn-lg">Posts</button>
                <button type="button" id="Settings" onclick="settings()" class="btn btn-primary btn-lg">Settings</button>
            </div>
        </div>
    </div>


            @*Settings section that can edit users information*@
            <div id="settingsSection" style="display: none">
                <div class="col-md-2">
                    <h5 align="right">@Html.DisplayFor(m => Model.user.UserName)</h5><br />
                    <button type="button" id="Username" onclick="username()" class="btn btn-primary btn-block">Change Username</button><br />
                    <h5 align="right">@Html.DisplayFor(m => Model.user.Email)</h5><br />
                    <button type="button" id="Email" onclick="email()" class="btn btn-primary btn-block">Change Email</button><br />
                    <h5 align="right">@Html.DisplayFor(m => Model.school_name)</h5><br />
                    <button type="button" id="School" onclick="school()" class="btn btn-primary btn-block">Change Schools</button><br />
                    @Html.ActionLink("Change Password", "ChangePassword", "Manage", null, new { @class = "btn btn-warning btn-block" })
                </div>
            </div>
        <style>
            h4, h5, h6 {
                margin-top: 0px;
                margin-bottom: 0px;
                text-align:center;
            }
            .btn-group, .btn-group-vertical {
                margin-bottom:10px;
            }
        </style>

        @*Each of the forms for editing user information*@
        <div class="col-md-3" id="updateUserDiv" style="display:none;">
            @using (Html.BeginForm("UpdateUser", "Profile", FormMethod.Post))
            {


                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <section class="form-field">
                    <div id="editUsername" style="display: none;">
                        <label class="control-label">Username</label>
                        @Html.EditorFor(model => model.user.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.user.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div id="editEmail" style="display: none">
                        <label class="control-label">Email</label>
                        @Html.EditorFor(model => model.user.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.user.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" id="editSchoolName" style="display: none">
                        <label class="control-label">Category</label>
                        @Html.DropDownListFor(model => model.school_name, (SelectList)ViewBag.selectCategory, "Select Category", new { style = "height: 40px;" })
                    </div>
                    <input type="submit" value="Save" id="saveButton" style="display: none" class="submit btn blue-btn special-submit" />

                </section>
            }
        </div>


        @*Post items table*@
            <div class="col-md-10">
                <table class="table table-borderless" id="postItemTable">
                    <thead>
                        <tr>
                            <th>Manage</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th>Post Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var element in Model.Posts)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Edit", "PostItems", new { id = element.object_id })">
                                       Edit
                                    <a href="@Url.Action("Delete", "PostItems", new { id = element.object_id})">
                                        Delete
                                    <a href="@Url.Action("Details", "PostItems", new { id = element.object_id})">
                                        View
                                 </td>
                                <td>@Html.DisplayFor(m => element.title)</td>
                                <td>$@Html.DisplayFor(m => element.price)</td>
                                <td>@Html.DisplayFor(m => element.category)</td>
                                <td>@Html.DisplayFor(m => element.post_date)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>



            @*Deactivate account button*@
        <div class="row" id="deactivateButton" style="display:none">
            <div class="col-md-1">
                <br />
                <button type="button" id="Deactivate" class="btn btn-danger btn-md" data-toggle="modal" data-target="#myModal">Deactivate Account</button>
            </div>
        </div>


        @*Username or Email Already Exists popup view
            Possibly make this alert dynamic by sending
        email or username as a string from the save button*@
        <div class="modal fade" id="accountExists" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Error</h4>
                    </div>
                    <div class="modal-body">
                        <p>Username or Email already exists. Please try again</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        @*Deactivate popup view*@
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Deactivate Account</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to deactivate your account?</p>
                    </div>
                    <div class="modal-footer">
                        @Html.ActionLink("Yes", "Deactivate", "Profile", null, new { @class = "btn btn-default" })
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>







