@model CampusNabber.Models.ProfileModel


@{
    ViewBag.Title = "ProfileView";
}



<h2>Profile View</h2>
<br />
<br />


<script>
   function posts() {
       document.getElementById("postitemTable").hidden = false;
       document.getElementById("settingsSection").style.display = "none";
       document.getElementById("deactivateButton").style.display = "none";
    }
   function settings() {
       document.getElementById("postitemTable").hidden = true;
       document.getElementById("settingsSection").style.display = "inline";
       document.getElementById("deactivateButton").style.display = "inline";
   }
   function username() {

   }
   function email() {

   }
   function school() {

   }
   function password() {

   }
   function deactivate() {

   }


</script>

    <div class="row">
        <div class="col-md-2">
            <div class="container">
                <div class="btn-group-vertical">
                    <button type="button" id="Posts" onclick="posts()" class="btn btn-primary btn-lg">Posts</button>
                    <button type="button" id="Settings" onclick="settings()" class="btn btn-primary btn-lg">Settings</button>

                </div>
            </div>
        </div>

        <div id="settingsSection" style="display: none">
            <div class="col-md-3">
                <h5 align="right">@Html.DisplayFor(m => Model.user.UserName)</h5><br />
                <h5 align="right">@Html.DisplayFor(m => Model.user.Email)</h5><br />
                <h5 align="right">@Html.DisplayFor(m => Model.user.school_name)</h5><br />
            </div>
            <div class="container">
                <div class="btn-group">
                    <div class="col-md-2">
                        <button type="button" id="Username" onclick="username()" class="btn btn-primary btn-md">Change Username</button><br /><br />
                        <button type="button" id="Email" onclick="email()" class="btn btn-primary btn-md">Change Email</button><br /><br />
                        <button type="button" id="School" onclick="school()" class="btn btn-primary btn-md">Change Schools</button><br /><br />
                        <button type="button" id="Password" onclick="password()" class="btn btn-warning btn-md">Change Password</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-10">
            <table class="table table-borderless" id="postitemTable">
                <thead>
                    <tr>
                        <th>Manage</th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Post Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var element in Model.Posts)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Edit", "PostItems", new {
                             id = element.object_id
                            })">
                                    Edit
                                    <a href="@Url.Action("Delete", "PostItems", new {
                             id = element.object_id
                            })">
                                        Delete
                                        <a href="@Url.Action("Details", "PostItems", new {
                             id = element.object_id
                            })">
                                            View
                            </td>
                            <td>@Html.DisplayFor(m => element.title)</td>
                            <td>$@Html.DisplayFor(m => element.price)</td>
                            <td>@Html.DisplayFor(m => element.category)</td>
                            <td>@Html.DisplayFor(m => element.post_date)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

<div class="row" id="deactivateButton" style="display:none">
    <div class="col-md-1">
        <br />
        <button  type="button" id="Deactivate" class="btn btn-danger btn-md" data-toggle="modal" data-target="#myModal">Deactivate Account</button>
    </div>
</div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Deactivate Account</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to deactivate your account?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="deactivate()" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>











