@model CampusNabber.Models.PostItem

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PostItem</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            Date Posted
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_date)
        </dd>

        <dt>
            Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>



        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>


        <dt>
            Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "MainMarketView", "MarketPlace")
        </div>
    }
</div>
