@model CampusNabber.Models.PostItem

@{
    ViewBag.Title = "Details";
}

<header>


    <h2>@Html.DisplayFor(model => model.title)</h2>

    <div class="dropdown pull-right">
        <button class="btn btn-primary dropdown-toggle pull-right" type="button" data-toggle="dropdown">
            Contact
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Email: @ViewBag.EMAIL </a></li>
            <li><a href="#">Phone: </a></li>
        </ul>
    </div>

</header>

@section Scripts {
    <script type="text/javascript">
        var mainColor = '@(ViewBag.main_color)';
        var secondaryColor = '@(ViewBag.secondary_color)';

    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/SchoolColor.js")"></script>
    <link rel="stylesheet" href="~/Content/PostItem.css" type="text/css" />

}

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>


<div class="container">
    <div class="row">
        <hr />

        <div class="col-md-6">
            <dl class="dl-horizontal">

                <dt> Posted By </dt>
                <dd> @Html.DisplayFor(model => model.username) </dd>
                <dt> School </dt>
                <dd> @Html.DisplayFor(model => model.school_name) </dd>
                <dt> Date Posted </dt>
                <dd> @Html.DisplayFor(model => model.post_date) </dd>
                <dt> Price </dt>
                <dd> @Html.DisplayFor(model => model.price) </dd>
                <dt> Category </dt>
                <dd> @Html.DisplayFor(model => model.category) </dd>
                <dt> Searchable Tags </dt>
                <dd> @Html.DisplayFor(model => model.tags) </dd>
                <dt> Description </dt>
                <dd> @Html.DisplayFor(model => model.description) </dd>


              



            </dl>
        </div>


        @if (ViewBag.HASPHOTO)
        {
            <div id="myCarousel" class="carousel slide col-md-6" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    @{
                        var dataSlideIndex = 0;
                        var results = ViewBag.RESULTS;
                        foreach (var photoPath in results)
                        {
                            <li data-target="#myCarousel" data-slide-to=dataSlideIndex class="active"></li>
                            dataSlideIndex++;
                        }
                    }
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        @{
                            var firstPhoto = ViewBag.FIRSTPHOTO;
                            <div class="item active carouselImage">
                                <img src=@firstPhoto alt="Chania">
                            </div>
                            var skipFirstPhoto = 0;
                            foreach (var photoPath in ViewBag.RESULTS)
                            {
                                if (@skipFirstPhoto != 0)
                                {
                                    <div class="item carouselImage">
                                        <img src=@photoPath alt="Chania">
                                    </div>
                                }
                                skipFirstPhoto++;
                            }

                        }

                    </div>

                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
                            }

    </div>

  </div>

<br /><br />

    <div class="row">
        <p>
            @Html.ActionLink("Back to List", "MainMarketView", "MarketPlace")

            @if (User.Identity.Name.Equals(Model.username))
            {
                <a class="btn btn-primary pull-right" href=@Url.Action("Edit", "PostItems", new { id = Model.object_id })>Edit Post</a>
            }
            @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-danger pull-right" href="@Url.Action("Delete", "PostItems", new {id = Model.object_id})">Take Down Post</a>
            }
            else
            {
            <a class="btn btn-danger pull-right" href=@Url.Action("Create","Flag", new { postId = Model.object_id, username = Model.username })>
                <span class="glyphicon glyphicon-flag"></span> Report Post
            </a>
            }
        </p>
    </div>


