@model CampusNabber.Models.PostItem

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.title)</h2>

@section Scripts {
    <script type="text/javascript">
        var mainColor = '@(ViewBag.main_color)';
        var secondaryColor = '@(ViewBag.secondary_color)';

    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/SchoolColor.js")"></script>

}

<div class="container">
    <div class="row">
        <hr />

        <div class="col-md-6">
            <dl class="dl-horizontal">

                <dt>
                    Posted By
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.username)
                </dd>
                <dt>
                    School
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.school_name)
                </dd>
                <dt>
                    Date Posted
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.post_date)
                </dd>
                <dt>
                    Price
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.price)
                </dd>
                <dt>
                    Category
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.category)
                </dd>
                <dt>
                    Description
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.description)
                </dd>

            </dl>
        </div>

      @*
      ****Bootstrap Gallery Test****
      <div class="container">
      <h2>Image Gallery</h2>
      <p>The .thumbnail class can be used to display an image gallery. Click on the images to see it in full size:</p>
      <div class="row">
        <div class="col-md-4">
          <a href="pulpitrock.jpg" class="thumbnail">
            <p>Pulpit Rock: A famous tourist attraction in Forsand, Ryfylke, Norway.</p>
            <img src="pulpitrock.jpg" alt="Pulpit Rock" style="width:150px;height:150px">
          </a>
        </div>
        <div class="col-md-4">
          <a href="moustiers-sainte-marie.jpg" class="thumbnail">
            <p>Moustiers-Sainte-Marie: Considered as one of the "most beautiful villages of France".</p>
            <img src="moustiers-sainte-marie.jpg" alt="Moustiers Sainte Marie" style="width:150px;height:150px">
          </a>
        </div>
        <div class="col-md-4">
          <a href="cinqueterre.jpg" class="thumbnail">
            <p>The Cinque Terre: A rugged portion of coast in the Liguria region of Italy.</p>
            <img src="cinqueterre.jpg" alt="Cinque Terre" style="width:150px;height:150px">
          </a>
        </div>
      </div>
    </div>*@




        <!--When we start uploading images with PostItems, insert it here!!!-->
        <div class="col-md-6 text-center">
            <img src='@ViewBag.AWS_URL' alt="Post Image" height="300" width="250" />
        </div>
    </div>
    <div class="row">
        <p>
            @Html.ActionLink("Back to List", "MainMarketView", "MarketPlace")

            @if (User.Identity.Name.Equals(Model.username))
            {
                <a class="btn btn-primary pull-right" href=@Url.Action("Edit", "PostItems", new { id = Model.object_id })>Edit Post</a>
            }
            @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-danger pull-right" href="@Url.Action("Delete", "PostItems", new {id = Model.object_id})">Take Down Post</a>
            }
            else
            {
            <a class="btn btn-primary pull-right" href=@Url.Action("Create","Flag", new { postId = Model.object_id, username = Model.username })>
                <span class="glyphicon glyphicon-flag"></span> Report Post
            </a>
            }
        </p>
    </div>
</div>


