@model CampusNabber.Models.PostItemModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Post</h2>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        var mainColor = '@(ViewBag.main_color)';
        var secondaryColor = '@(ViewBag.secondary_color)';

    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/SchoolColor.js")"></script>
}
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-6">

            @using (Html.BeginForm("Edit", "PostItems", FormMethod.Post,
new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.object_id)
                    @Html.HiddenFor(model => model.school_name)
                    @Html.HiddenFor(model => model.post_date)
                    @Html.HiddenFor(model => model.username)

                    <div class="form-group">
                        <label class="control-label col-md-2">Title</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-2">Price</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-2">Description</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.description, new { @rows = "5", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Category</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.category, (SelectList)ViewBag.selectCategory, "Select Category", new { style = "height: 40px;" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Images</label>
                        <div class="col-md-10">
                            <form action="demo_form.asp">
                                <input type="file" name="images" accept="image/*" multiple>
                            </form>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="col-md4">
            <style>
                div.img {
                    margin: 5px;
                    border: 1px solid #ccc;
                    float: left;
                    width: 180px;
                    margin-top:50px;
                }

                    div.img:hover {
                        border: 1px solid #777;
                    }

                    div.img img {
                        width: 100%;
                        height: auto;
                    }

                div.desc {
                    padding: 15px;
                    text-align: center;
                }
            </style>


            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <img src="" class="imagepreview" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>

            <div ng-app="app">
                <div ng-controller="CarouselDemoCtrl" id="slides_control">
                    <div ng-init="slides = @ViewBag.RESULTS">
                        <slide ng-repeat="slide in slides">
                            <div class="img">
                                <a href="#" class="pop">
                                    <img ng-src="{{slide.image}}">
                                </a>
                            </div>
                        </slide>
                    </div>
                </div>
            </div>
            <script>
                angular.module('app', [])
                .controller('CarouselDemoCtrl', function ($scope) {
                    $scope.myInterval = 3000;
                    $scope.slides = null;
                });

                $(function () {
                    $('.pop').on('click', function () {
                        $('.imagepreview').attr('src', $(this).find('img').attr('src'));
                        $('#imagemodal').modal('show');
                    });
                });
            </script>


        </div>
        <div class="col-md-2 addSpace red pull-right">


        </div>

            </div>

            <div>
                @Html.ActionLink("Back to List", "Index")

        </div>

    </div>

