@model IEnumerable<CampusNabber.Models.PostItemModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.school_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.post_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.photo_path_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th></th>
        </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.school_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.post_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.photo_path_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                <!--@Html.ActionLink("Edit", "Edit", new { id = item.object_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.object_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.object_id })-->
            </td>
        </tr>
    }

    </table>
}
else
{
    <h4>No PostItems to display</h4>
}